.form-group{
	margin: 0.7rem;
	padding: 0.7rem;
}

.boton-guardar{
	
	margin: 0 auto;
}

#layoutAuthentication{
	background-color: #212529;
}


#header-login{
	background-color: #168aad;
}

#header-login h3{
	color: white;
}
